<%= image_tag('https://images.unsplash.com/photo-1470468969717-61d5d54fd036?ixid=MXwxMjA3fDB8MHxzZWFyY2h8ODF8fHNwb3J0cyUyMGdpcmx8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60', class: "background-home-image") %>

<div class="content-container">
 <div class="banner-small banner-container">
    <h1>L'After Work</h1>
    <h4 class="mb-4">Découvrez tous nos articles </h4>
  </div>
  <h2 class="ml-3 my-5">Filtrer par thématiques</h2>

  <% @articles.each do |article| %>
    <div class="blog-card-container">
      <% if article.photos.first %>
        <%= cl_image_tag article.photos.first.key, width: 300, crop: :fill, class:"blog-card-img" %>
      <% end %>
      <div class="blog-card-text-content">
        <div class="blog-card-content">
          <div class="card-title-content">
            <h2><%= link_to article.title, blog_article_path(article) %></h2>
            <h5> Ecrit par : <%= article.user.first_name %> </h5>
          </div>
          <p> <%= article.description %> </p>
        </div>
        <div class="container-btn">
          <h5><%= article.date.strftime("%d/%m/%Y")  %></h5>
          <%= link_to "Je découvre",blog_article_path(article), class:"button btn-yellow-black" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
